/*DOCUMENT INFORMATION
   -Document: thé thème
   -version: 1.0.0
   -author: Karl 
*/
/* COLORS
    -h1
    -h2
    -h3

    -button 
    -border
    -icon : green




*/
/*FONTS
    -Default        Lato
    -Subtitle

*/

/*CSS DIRECTORY
    1. =GLOBAL
    2. =HEADER
    3. =PRODUIT

    */

/* GLOBAL
===================================*/

html{
    background-color: #fff ;
}
h1, h2, h3, h4{
    font-family: 'Lato', sans-serif;
    text-transform: uppercase;
    letter-spacing: -1px;
    word-spacing: 8px;
    font-weight: 300;
}
h1{
    color: white;
}
h2{
    color: black;
    font-size: 250%;
    text-align: center;
    margin-top: 40px;
    margin-bottom: 30px;
}
h2::after{
    display: block;
    height: 2px;
    background-color: green;
    width: 100px;
    content: '';
    margin: 0 auto;
    margin-top: 2px;
}
h3{
    font-size: 160%;
}
h4{

}
p{
font-size: 12px;
font-weight: 300;
line-height: 24px;
}
.section{
    padding: 30px 0 60px 0;
}


/* HEADER
===========================*/
header{
    background-image:linear-gradient(rgba(51, 204, 0, 0.2),
                                     rgba(51, 204, 255, 0.7)
                                     ),
                                      url(../image/header.jpg);
    height: 100vh;
    background-position: center;
    background-size: cover;
}
.home-title{
    position: absolute;
    top: 30%;
}
.home-title h1{
    font-size: 340%;
}
.home-title h1 span{
    font-weight: 700;
}
.home-title p{
    color: white;
}
/* Button*/

.btn{
   display: inline-block;
   padding: 10px 30px;
   text-decoration: none;
   border-radius: 10px;
   transition: background-color 1s, color 1s, border 1s;
   margin-bottom: 20px;
  }
  .btn-full{
      background-color: azure;
      color: darkgreen;
  }
  .btn-ghost{
      border: 1px solid white;
      color: white;
  }
  .btn-full:hover{
      background-color: teal;
      color: white;
  }
  .btn-ghost:hover{
      background-color: teal;
      color: white;
      border: 1px solid teal;
  }
  /* PRODUIT
  =========================================================*/
  .produit-img{
      max-width: 100%;
      height: auto;
  }
  .produits-icon{
    font-size: 34px;
    color: green;
    transition: all 1s;
  }
  .produit-plus{
      margin: 20px 0;
  }
  .produit-plus:hover .produits-icon{
      transform: translateX(20px);
      color: grey;
  }
  /*FAMILLES THÉS
  =====================================================*/
  .famille-thés{
      background-color: aquamarine;
  }
  .famille-details{
      background-color: white;
      padding: 40px 30p;
      border-radius: 10px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  }
  .famille-details img{
      display: block;
      margin: 0 auto;
      width: 100%;
  }
  .famille-details h4{
      text-align: center;
  }
  /*GALERIES
  =====================================================*/
  .galeries-img{
      height: 300px;
      display: block;
      background-size: cover;
      background-position: top center;
      background-repeat: no-repeat;
      border-radius: 10px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
      margin-bottom: 30px;
}
.galeries-titre{
    position: absolute;
    bottom: 40px;
    left: 40px;
}
.galeries-titre h4{
    color: white;
}
/*AVIS CLIENT
  =====================================================*/
  .clients{
      background-image:linear-gradient(rgba(51, 204, 0, 0.2),
      rgba(51, 204, 255, 0.7)
      ),
       url(../image/the-paysage.jpg);
      background-size: cover;
      background-attachment: fixed;
  }
  .clients h2{
      color: white;
  }
  .clients h2::after{
      background-color: white;
  }
  .clients blockquote{
      color: white;
      padding: 5px;
      font-style: italic;
      line-height: 130% ;
  }
  blockquote::before{
      content: "\201C";
      font-size: 800%;
      font-family: 'Sanchez', serif;
      position: absolute;
      top: 20px;
      left: 5px;   
      color: rgba(255, 255, 255, 0.5)
  }
  cite{
      font-size: 90%;
      display: block;
      margin-top: 20px;
  }
  cite img{
      height: 50px;
      border-radius: 50%;
      margin-right: 10px;
  }
      /* PACKS
  =========================================================*/
  .pack{
      box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
      border-radius: 10px;
  }
  .pack h3{
      color: seagreen;
      font-weight: 400;
  }
  .pack h4{
      font-size: 200%;
      font-weight: 100;
  }
  .pack span{
      font-weight: 100;
      font-size: 40%;
      position: relative;
      top: -15px;
      left: 2px;
  }
  .pack-premium{
      background-color:rgb(104, 211, 104);
      color: white;
  }
  .pack-title-premium{
      position: absolute;
      top: 10px;
      right: 18px;
      background-color: #fff;
      color: green;
      border-radius: 100px;
      padding: 2px;
      text-align: center;
      font-weight: 400;
  }
  .pack-title{
      padding: 10px 10px 0 10px;
      border-bottom: 1px solid grey;
  }
  .pack-content ul {
      list-style: none;
      padding: 20px;
      font-weight: 300;
      line-height: 35px;
  }
  .pack-content ul li i{
      font-size: 90%;
      margin-right: 10px;
  }
  .pack-signup{
      text-align: center;
  }
  .pack-signup:hover .btn-pack{
      background-color: rgb(112, 190, 112);
      color: #fff;
  }


  .btn-pack{
      background-color: teal;
      color: white;
      margin-bottom: 20px;
  }
   /* CONTACT
  =========================================================*/
  .contact-form{
      margin-bottom: 30px;
  }
  .contact-message{
      width: 100%;
  }
  .btn-contact{
    background-color: teal;
    color: #fff;
  }
  .map{
    position: relative;
    padding-bottom: 75%;  
    height: 0;
    overflow: hidden;
    top: 90px;
  }
  .map iframe{
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
  }
  /* FOOTER
  =========================================================*/
  footer{
      background-color: black;
      color: #fff;
      height: 60px;
      text-align: center;
      padding: 20px;
  }
  .copyright{
      text-align: center;
  }
  .copyright a{
    color: #fff;  
  }